/* Buttons */
.button {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.5rem 10rem;
  border-radius: 30px;
  border: none;
  outline: 0;
}

.button--block {
  border: 2px solid var(--color-headings);
  color: var(--color-headings);
  background: none;
}

.button--primary {
  background-color: var(--color-headings);
  color: white;
}
.button--secondary {
  padding: 1.5rem 6rem;
  color: white;
  background: var(--color-secondary);
}
.button--accent {
  background: var(--color-accent);
  color: white;
  padding: 1.5rem 3.5rem;
}
.i-padding {
  margin-right: 1rem;
}
