<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <img
      class="icon collapsible__chevron"
      src="images/chevron.svg"
      alt="down-arrow sign for collapsibles"
    />
  </header>
  <div class="collapsible__content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt magni
    temporibus cupiditate repellendus dicta, rerum numquam dignissimos minima
    tenetur totam.
  </div>
</div>

<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <img
      class="icon collapsible__chevron"
      src="images/chevron.svg"
      alt="down-arrow sign for collapsibles"
    />
  </header>
  <div class="collapsible__content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt magni
    temporibus cupiditate repellendus dicta, rerum numquam dignissimos minima
    tenetur totam.
  </div>
</div>

<script src="js/main.js"></script>
